body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://images.pexels.com/photos/273026/pexels-photo-273026.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #009688;
    opacity: .85;
    padding: 5px;
    color: whitesmoke;
    text-align: left;
    width: 1125px;
    border: solid 1px white;
}


/* form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
} */

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  border: solid 1px white;
  /* border-bottom: solid 2px white; */
  background-color: black;
  border-radius: 0px;
  opacity: .90;
  width: 1135px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

.scheduleGroupExpansionItem {
    text-align: center;
    color: whitesmoke;
    border-bottom: solid 1px white;
}

.scheduleItemButton {
    float: right;
}

.addGroupButton {
    float: right;
}


.scheduleForm {
    /* background-color: rgb(83, 83, 83); */
    background-color: black;
    border: solid 2px white;
    height: 225px;
    width: 250px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    float: left;
    opacity: .90;
    margin: auto;
}

.addScheduleButton {
    padding: 5px;
    margin: 5px;
}

.dragNDrop {
    float: left;
    padding: 5px;
    margin: 5px;
    border: solid 2px white;
    /* background-color: rgb(83, 83, 83); */
    background-color: black;
    opacity: .90;
    text-align: center;
    margin: auto;
}

.dragItem {
    border-radius: 12px;
}

h3 {
    color: whitesmoke;
    padding: 5px;
    margin: 5px;
}

#welcome {
    color: whitesmoke;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.myScheduleTop {
    background-color: black;
    opacity: .90;
    width: 1135px;
    border: solid 1px white;
}

.expansionGroup {
    opacity: 1;
    border: solid 1px #009688;
}

.viewScheduleDiv {
    color: whitesmoke;
    background-color: black;
    border-radius: 12px;
    border: solid 1px white;
    opacity: .75;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.viewHeader {
    text-align: center;
    background-color: #009688;
    border-radius: 12px;
}

.editDragNDrop {
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 50%;
    border-radius: 12px;
    border: solid 2px white;
}

.editHeader {
    text-align: left;
    background-color: #009688;
    border-radius: 12px;
    width: 256px;
}

.headerDate {
    color: whitesmoke;
    float: right;
    padding-top: 5px;
    margin: 10px;
}

.createDrag{
    border-radius: 12px;
    opacity: 1;
    border: solid 1px white;
}

.viewDiv {
    border: solid 2px white;
    border-radius: 12px;
}

#logo {
    height: 350px;
    width: 350px;
    padding: 0px;
    margin: 0px;
}

.loginDiv {
    text-align: center;
    background-color: black;
    opacity: .85;
    color: whitesmoke;
    width: 1135px;
    height: 530px;
    border: solid 1px white;
}

#loginButton {
    padding: 10px;
    margin: 10px;
}

.logoHeader{
    height: 60px;
    width: 200px;
}

.logo {
    height: 50px;
    width: 50px;
    float: left;
    padding-top: 5px;
    padding-right: 5px;
}

.lead {
    height: 30px;
    padding: 0px;
    margin: 0px;
}

.aboutProjectDiv {
    background-color: black;
    color: whitesmoke;
    opacity: .85;
    border: solid 1px white;
    width: 1135px;
    height: 400px;
}

.techUsed {
    padding: 5px;
    margin: 5px;
}

.studentViewDiv {
    background-color: black;
    color: whitesmoke;
    opacity: .95;
    border: solid 1px white;
    width: 1135px;
}
